@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$fontFamily: "Inter", sans-serif;

$customGreen: rgb(64, 224, 112);
$customGreenDarker: rgb(57, 128, 42);

$tableBorder: 1px solid black;
